@section Style {
    <link rel="stylesheet" href="~/css/index.css">
}
@{
    ViewData["Title"] = "File Drop Zone";
}
<h1>Welcome</h1>
<a asp-action="UploadFile">
    Click For Upload
    <span class="material-symbols-outlined">
        upload_file
    </span>
</a>