body {
  overflow: auto;
  height: 100vh;
  width: 100%;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  color: black;
}
.scrollable-table {
  width: 80%;
  margin-top: 50px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  color: black;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.table tr,
.table th,
.table td {
  border: 1px solid #bbb;
  padding: 10px 20px;
}
.table th {
  background-color: black;
  color: #fff;
  font-weight: 600;
}
.table .btn-table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}
.table .btn-table form button {
  border: 0px solid #ced4da;
  background-color: #dc3545;
  padding: 9px 15px;
  color: white;
  cursor: pointer;
  transition: all ease 0.5s;
}
.table .btn {
  padding: 5px 15px;
  color: white;
  cursor: pointer;
  transition: all ease 0.5s;
}
.table .btn-download {
  background-color: #28a745;
}
.table .btn-update {
  background-color: #007bff;
}
.table .btn:hover {
  color: black;
}
.table .btn-table form button:hover {
  color: black;
}
@media (max-width: 768px) {
  .scrollable-table {
    overflow: scroll;
  }
}
